<!DOCTYPE html>
<html>
<head>
  <title>Туристическое агенство "Голубой огонек"</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav>
    <a href="{% url 'tours_list' %}">Главная</a>
    <a href="{% url 'tours_add' %}">Добавить тур</a>
  </nav>
  <main>
      {% block content %}
  <h2>Список туров</h2>
  <ul>
    {% for tour in tours %}
      <li><a href="{% url 'tours_detail' pk=tour.pk %}">{{ tours.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
  </main>
</body>
</html>